@import '~normalize.css';
@import './roboto.css';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../assets/webpack.png');
  width: 200px;
  height: 200px;
  margin: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.json {
  width: 100%;
  text-align: center;
}

.json-title {
  color: blueviolet;
  text-shadow: 1px 1px 4px rgb(43, 42, 42);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
